body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', Roboto, Arial, Sans-Serif;
}
body.home-page,
body.news-page, 
body.people-page,
body.about-page {
  background-color: white;
}
body.home-page .navigation-bar marquee {
  padding: 0;
  margin: 0;
  border-radius: 10px;
  color: lab(0% 0 0);
  background: rgba(0, 0, 0, 0.10196078431372549);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7803921568627451);
}
* h1 {
  font-size: 24px;
}



/*Content-Page*/
body.content-page {
  background: linear-gradient(180deg, black, hwb(0 17% 83%), #000000);
  background-attachment: fixed;
}
body.content-page footer {
  color: hwb(0 100% 0%);
  margin-top: auto;
  background-color: lab(0% 0 0);
}
body.content-page .navBar ul {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 1px white;
  border-radius: 10px;
  font-weight: bold;
}
body.content-page header {
  background-color: lab(0% 0 0);
}




/*About Page*/
body.about-page {
  color: white;
  background: linear-gradient(180deg, black, hwb(0 37% 63%), #000000);
  background-attachment: fixed;
}
body.about-page .navBar ul {
  background: rgba(255, 255, 255, 0.1);
  border: 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 8px 20px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
body.about-page header {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 1px hwb(0 100% 0%);
}
body.about-page a {
  color: hwb(0 100% 0%);
  font-weight: bold;
}
body.about-page footer, .about-footer {
  background-color: black;
  margin-top: auto;
}
body.about-page .italic-text {
  background: linear-gradient(180deg, hwb(0 100% 0%), #000000);
  background-attachment: fixed;
}
body.about-page ::selection {
  color: hwb(247 0% 17%);
  background: linear-gradient(180deg, black, hwb(0 100% 0%), #000000);
  background-attachment: fixed;
}




/*Frequently Asked Questions*/
body.FAQ-page {
  background: linear-gradient(180deg, gray, black, white);
  background-attachment: fixed;
}
body.FAQ-page header,
body.FAQ-page .navBar ul {
  background: linear-gradient(180deg, gray, black, white);
  background-attachment: fixed;
}
body.FAQ-page a::selection {
  background-color: white;
}
body.FAQ-page .navBar ul {
  margin-top: 10px;
  justify-content: left;
}
body.FAQ-page a {
  background-color: hwb(0 40% 60%);
  border-radius: 10px;
  box-shadow: 0 0 4px white
}
body.FAQ-page header {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 1px white; 
}
body.FAQ-page footer {
  font-weight: bold;
  color: hwb(0 45% 55%);
  background-color: rgba(0, 0, 0, 0.10196078431372549);
  margin-top: auto;
  border-radius: 5px;
  box-shadow: inset 0 0 5px white;
}





header {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: hwb(240 0% 65%);
}
header img {
  margin: 5px;
}
header h2 {
  font-weight: bold;
}
.text {
  margin: 5px;
  margin-bottom: 60px;
}
html {
  scroll-behavior: smooth;
}
::selection {
  color: hwb(0 100% 0%);
  font-family: bold;
  background-color: rgba(255, 255, 255, 0.1);
}
* {
  box-sizing: border-box;
}




/*Paragaph*/
.p {
  display: flex;
  font-size: 90%;
  margin: 50px auto;
  max-width: 90%;
  padding: 20px;
  color: lab(0% 0 0);
  background-color: hwb(0 81% 19%);
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 5px black;
  margin-bottom: 70px;
}
.p h3 {
  width: 100%;
  text-align: center;
}
.p time {
  width: 100%;
  text-align: center;
}
.p a {
  text-decoration: none;
  color: hwb(0 28% 72%);
  font-style: italic;
}
@media (min-width: 1024px) {
  .p {
    max-width: 700px;
    font-size: 100%;
  }
}
.article a {
  text-decoration: none;
  font-style: italic;
  color: hwb(0 28% 72%);
}
.article i {
  font-size: 75%;
}





/*Content*/

.content {
  margin: 5px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.content iframe {
  border-radius: 10px;
}
.subscribe a {
  background: rgba(255, 4, 4, 0.8196078431372549);
  text-decoration: none;
  display: block;
  width: 110px;
  margin: 40px auto;
  padding: 10px 20px;
  color: hwb(0 100% 0%);
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 0 20px rgb(255, 0, 0, 0.8);
}
.subscribe a:active {
  background-color: hwb(0 0% 14%);
}




/*Navigation / Menu*/
.navBar ul {
  margin: 0 auto;
  padding: 5px;
  display: flex;  
  list-style-type: none;
  justify-content: center;
  gap: 15px;
  background-color:  hwb(240 0% 74%); 
}
.navBar a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
.navBar a:active {
  background-color: hwb(232 16% 53%);
}
.small {
  margin: 0;
  padding: 0;
}




/*People*/
.message {
  display: flex;
  margin: 10px;
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Poppins' , sans-serif;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.photo {
  margin: 40px auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  gap: 20px;
  border-radius: 10px;
}
.photo img {
  border-radius: 10px;
}
.title {
  margin: 5px;
}





/*Article*/
.container {
  margin: 40px auto;
  margin-bottom: 50px;
  background-color: hwb(0 100% 0%);
}
.container a {
  color: hwb(0 28% 72%);
  text-decoration: none;
  
}
.article {
  justify-content: center;
  padding: 20px 10px;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
}
article {
  background-color: hwb(0 57% 43%);
  padding: 30px;
  border-radius: 10px;
  max-width: 350px;
  min-width: 250px;
  max-height: 300px;
  text-align: center;
  box-shadow: 0 2px 4px black;
  overflow: auto;
  scroll-behavior: smooth;
}
.teaser-poster {
  gap: 30px;
}
.teaser-poster img {
  border-radius: 10px;
}





/*
.inquiry {
        margin: 40px auto;
        max-width: 650px;
        width: 90%;
        box-sizing: border-box;
        padding: 50px;
        color: lab(0% 0 0);
        background-color: hwb(0 87% 13%); 
        border-radius: 15px;
        box-shadow: 1px 2px 4px black;
      }
      .flex {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
      }
      .inquiry-form1 input[type="text"],
      .inquiry-form1 input[type="email"] {
        background-color: hwb(0 84% 16%);
        border-radius: 5px;
        box-shadow: inset 1px 2px 4px black;
        border: none;
        padding: 5px;
        color: lab(0% 0 0);
      }
      .inquiry-form2 input[type="tel"] {
        background-color:  hwb(0 84% 16%);
        border-radius: 5px;
        box-shadow: inset 1px 2px 4px black;
        border: none;
        padding: 5px;
        color: lab(0% 0 0); 
      }
      .inquiry-form2 select {
        color: lab(0% 0 0); 
        background-color: hwb(0 84% 16%);
      }
      .inquiry-form1, 
      .inquiry-form2 {
        flex: 1 1 200px;
      }
      input, textarea {
        outline: none;
        caret-color: lab(0% 0 0);
      }
      .inquiry-text {
        text-align: center;
      }
      .message {
        display: block
      }
      .message textarea {
        border: none;
        color: lab(0% 0 0);
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: hwb(0 84% 16%);
        box-shadow: inset 1px 2px 4px black;
        border-radius: 10px;
      }
      .message label {
        font-weight: bold;
      }
      .bottom {
        text-align: center;
      }
      .reset-submit {
        display: flex;
        gap: 20px;
        justify-content: center;
      }
      .reset-submit input[type="reset"],
      .reset-submit input[type="submit"] {
        border: none;
        padding: 5px;
        color: lab(0% 0 0);
        font-weight: bold;
        background-color: hwb(0 100% 0%);
        border-radius: 5px;
        box-shadow: 1px 20px 4px lab(0% 0 0);
      }
*/




/*About Us*/
.About-STCGamehub {
  margin: 0;
  max-width: 100%;
}
.About-STCGamehub h3 {
  margin: 5px;
}
.About-Us {
  margin: 5px;
}
.image-text {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}
.image {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
}
.image img {
  border-radius: 10px;
  box-shadow: 0 0 5px hwb(0 100% 0%);
}
.italic-text {
  font-style: italic;
  font-size: 85%;
  flex-wrap: wrap;
  padding: 5px;
  scroll-behavior: smooth;
  max-width: 100px;
  min-width: 100px;
  max-height: 150px;
  overflow: auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 4px white;
}
.underline {
  text-decoration: underline;
}
.about-footer,
.about-footer footer {
  justify-content: center;
  color: hwb(0 56% 44%);
  margin-top: auto;
}
.contact-footer a {
  text-decoration: none;
}
.contact-footer img {
  border-radius: 50px;
  gap: 20px;
}




/*Frequently Ask Questions*/
.summary-container {
  font-family: bold;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  max-width: 600%;
  min-width: 90%;  
  padding: 25px;
  border-radius: 10px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px hwb(0 100% 0%);
}
.summary-container ul {
  color: white;
  list-style-type: circle;
}






/*Footer*/
footer {
  text-align: center;
  color: white;
  padding: 0;
  margin-top: auto;
  background-color:  hwb(240 0% 65%);
}
